In [4]:
import polars as pl

# Creating a Dataframe

In [5]:
df = pl.read_csv('notebooks/data/titanic.csv')
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath     ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li…              ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

# Expressions

In [6]:
df[:3,["Pclass","Name","Age"]]

shape: (3, 3)
┌────────┬───────────────────────────────────┬──────┐
│ Pclass ┆ Name                              ┆ Age  │
│ ---    ┆ ---                               ┆ ---  │
│ i64    ┆ str                               ┆ f64  │
╞════════╪═══════════════════════════════════╪══════╡
│ 3      ┆ Braund, Mr. Owen Harris           ┆ 22.0 │
│ 1      ┆ Cumings, Mrs. John Bradley (Flor… ┆ 38.0 │
│ 3      ┆ Heikkinen, Miss. Laina            ┆ 26.0 │
└────────┴───────────────────────────────────┴──────┘

In [10]:
data = df.select([pl.col("Pclass"),
                  pl.col("Name"),
                  pl.col("Age")])

data.head(4)

shape: (4, 3)
┌────────┬───────────────────────────────────┬──────┐
│ Pclass ┆ Name                              ┆ Age  │
│ ---    ┆ ---                               ┆ ---  │
│ i64    ┆ str                               ┆ f64  │
╞════════╪═══════════════════════════════════╪══════╡
│ 3      ┆ Braund, Mr. Owen Harris           ┆ 22.0 │
│ 1      ┆ Cumings, Mrs. John Bradley (Flor… ┆ 38.0 │
│ 3      ┆ Heikkinen, Miss. Laina            ┆ 26.0 │
│ 1      ┆ Futrelle, Mrs. Jacques Heath (Li… ┆ 35.0 │
└────────┴───────────────────────────────────┴──────┘

In [11]:
data = df.select([pl.col("Pclass"),
                  pl.col("Name").str.to_lowercase(),
                  pl.col("Age").round(2)])

data.head(4)

shape: (4, 3)
┌────────┬───────────────────────────────────┬──────┐
│ Pclass ┆ Name                              ┆ Age  │
│ ---    ┆ ---                               ┆ ---  │
│ i64    ┆ str                               ┆ f64  │
╞════════╪═══════════════════════════════════╪══════╡
│ 3      ┆ braund, mr. owen harris           ┆ 22.0 │
│ 1      ┆ cumings, mrs. john bradley (flor… ┆ 38.0 │
│ 3      ┆ heikkinen, miss. laina            ┆ 26.0 │
│ 1      ┆ futrelle, mrs. jacques heath (li… ┆ 35.0 │
└────────┴───────────────────────────────────┴──────┘

# DataFrames and LazyFrames

**Eager mode**: each line of code is run as soon as it is encountered.

**Lazy mode**: each line is added to a query plan and the query plan is optimized.

In [17]:
csvFile = 'notebooks/data/titanic.csv'

# DataFrames
dfEager = pl.read_csv(csvFile)

# LazyFrames
dfLazy = pl.scan_csv(csvFile)

# Check the type
type(dfEager), type(dfLazy)

(polars.dataframe.frame.DataFrame, polars.lazyframe.frame.LazyFrame)

In [24]:
dfEager.head(4)

shape: (4, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath     ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li…              ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [18]:
dfLazy.head(4)

In [23]:
(
    dfLazy.rename({"PassengerId":"Id"}) 
      .head(4)   
)

In [26]:
print(
    pl.scan_csv(csvFile)
    .rename({"PassengerId":"Id"})
    .explain()
)

RENAME

    CSV SCAN notebooks/data/titanic.csv
    PROJECT */12 COLUMNS

In [32]:
print(
    pl.scan_csv(csvFile)
    .filter(pl.col('Fare') < 10)
    .filter(pl.col('Sex') == 'female')
    .head(2)
    .explain()
)

SLICE[offset: 0, len: 2]

    CSV SCAN notebooks/data/titanic.csv
    PROJECT */12 COLUMNS
    SELECTION: [([(col("Sex")) == (Utf8(female))]) & ([(col("Fare")) < (10.0)])]

In [42]:
print(
    pl.scan_csv(csvFile)
    .filter(pl.col('Fare') < 10)
    .filter(pl.col('Sex') == 'female')
    .head(2)
    .explain(optimized=False)
)

SLICE[offset: 0, len: 2]
  FILTER [(col("Sex")) == (Utf8(female))] FROM
  FILTER [(col("Fare")) < (10)] FROM

    CSV SCAN notebooks/data/titanic.csv
    PROJECT */12 COLUMNS

In [43]:
print(
    pl.scan_csv(csvFile)
    .filter(pl.col('Fare') < 10)
    .filter(pl.col('Sex') == 'female')
    .head(2)
    .explain(optimized=True)
)

SLICE[offset: 0, len: 2]

    CSV SCAN notebooks/data/titanic.csv
    PROJECT */12 COLUMNS
    SELECTION: [([(col("Sex")) == (Utf8(female))]) & ([(col("Fare")) < (10.0)])]