# Selecting columns 1: using `[]`
By the end of this section we will learn how to:
- select a column or columns with `[]` indexing
- select rows and columns with `[]` indexing

In [ ]:
import polars as pl

In [ ]:
csvFile = "../data/titanic.csv"

In [ ]:
df = pl.read_csv(csvFile)
df.head(3)

## Choosing columns with square brackets

We can choose a column with a string in `[]`

In [ ]:
df['Age'].head(3)

The output is a `Series`.

We can choose a column with a list of strings in `[]` - the output is a `DataFrame`

In [ ]:
df[['Survived','Age']].head(3)

## Choosing rows and columns with `[]`
We can choose rows and columns together with `[]`

In [ ]:
df[0,"Age"]

Python interprets values separate by a comma as a `tuple`

In [ ]:
0,"Age"

So underneath the hood this case with two elements is really passing a `tuple` inside `[]`

In [ ]:
df[(0,"Age")]

We can still pass lists for either element inside `[]`

In [ ]:
df[[0,1],["Age","Fare"]]

The basic rules are:
- if we pass just numeric values we select rows
- if we pass just strings we select columns
- if we pass a tuple like `[numeric,string`] we select rows and columns

### Numeric indexing
We can use numeric indexing for columns when we pass a `tuple`

In [ ]:
df[:, 1:6].head(2)

### Slice
We can choose columns with a `slice` into the list in `df.columns`

In [ ]:
df[:2, "Survived":"Age"]

## Creating a column with `[]`?
We can't create a column with `[]`

In [ ]:
# df["constant"] = 3 # this will thrown an error

To create a column we use the `with_columns` method which we will meet later in this section.

# Exercises

In the exercises you will develop your understanding of:
- selecting columns using `[]`
- selecing rows and columns using `[]`

### Exercise 1

Choose the `Name` column as a `Series`

In [ ]:
df = pl.read_csv(csvFile)
df<blank>.head(3)

Choose the `Name` and `Fare` columns

In [ ]:
df = pl.read_csv(csvFile)
df<blank>.head(3)

Choose all columns from `Name` to `Fare`

In [ ]:
df = pl.read_csv(csvFile)
df<blank>.head(3)

### Exercise 2
Choose the first 3 rows from the `Name` column as a `Series`

In [ ]:
df = pl.read_csv(csvFile)
df<blank>

Choose the second and third rows of all columns from `Name` to `Fare`

In [ ]:
df = pl.read_csv(csvFile)
df<blank>

## Solutions

### Solution to Exercise 1
Choose the `Name` column as a `Series`

In [ ]:
df = pl.read_csv(csvFile)
df["Name"].head(3)

Choose the `Name` and `Fare` columns

In [ ]:
df = pl.read_csv(csvFile)
df[["Name","Fare"]].head(3)

### Solution to Exercise 2
Choose the first 3 rows from the `Name` column as a `Series`

In [ ]:
df = pl.read_csv(csvFile)
df[:3,"Name":"Fare"]

Choose the second and third rows of all columns from `Name` to `Fare`

In [ ]:
df = pl.read_csv(csvFile)
df[1:3,"Name":"Fare"]