# Groupby 1: The `GroupBy` object
By the end of this section you will be able to:
- group rows using `groupby`
- access data in each group
- do aggregations on the groups
- group by multiple columns
- do fast-track grouping on a sorted column

In [1]:
import polars as pl

In [2]:
csvFile = "../data/titanic.csv"

In [3]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## The `groupby` object
Calling the `groupby` method with a column creates a `GroupBy` object

In [4]:
(
    df
    .groupby("Pclass")
)

We look at some of the methods we can call on the `GroupBy` object below.

## Iterating over groups
We can access the `DataFrame` for each group by looping over a `GroupBy` object.

When we iterate we get the group key and the sub-`DataFrame` for each group.

In this example we print the mean for each group

In [5]:
for groupKey,groupDf in df.groupby("Pclass"):
    print(groupKey)
    print(groupDf.mean())

2
shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ f64         ┆ f64      ┆ f64    ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 445.956522  ┆ 0.472826 ┆ 2.0    ┆ null ┆ … ┆ null   ┆ 20.662183 ┆ null  ┆ null     │
└─────────────┴──────────┴────────┴──────┴───┴────────┴───────────┴───────┴──────────┘
3
shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---      ┆ ---   ┆ ---      │
│ f64         ┆ f64      ┆ f64    ┆ str  ┆   ┆ str    ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════════╪═══════╪══════════╡
│ 439.154786  ┆ 0.242363 ┆ 3.0    ┆ null ┆ … ┆ null   ┆ 13.67555 ┆ null  ┆ null     │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────────┴───────┴──────────┘
1
shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ f64         ┆ f64      ┆ f64    ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 461.597222  ┆ 0.62963  ┆ 1.0    ┆ null ┆ … ┆ null   ┆ 84.154688 ┆ null  ┆ null     │
└─────────────┴──────────┴────────┴──────┴───┴────────┴───────────┴───────┴──────────┘

## Group indices
We get the group keys and the *row indices* for each group with the `agg_groups` expression

In [11]:
(
    df
    .groupby("Pclass")
    .agg(
        pl.col("PassengerId").agg_groups()
    )
)

shape: (3, 2)
┌────────┬────────────────┐
│ Pclass ┆ PassengerId    │
│ ---    ┆ ---            │
│ i64    ┆ list[u32]      │
╞════════╪════════════════╡
│ 1      ┆ [1, 3, … 889]  │
│ 3      ┆ [0, 2, … 890]  │
│ 2      ┆ [9, 15, … 886] │
└────────┴────────────────┘

Due to the parallelisation algorithm the order of the groups changes each time.

To return the same order use the `maintain_order` argument in `groupby`

In [12]:
(
    df
    .groupby("Pclass",maintain_order=True)
    .agg(
        pl.col("PassengerId").agg_groups()
    )
)

shape: (3, 2)
┌────────┬────────────────┐
│ Pclass ┆ PassengerId    │
│ ---    ┆ ---            │
│ i64    ┆ list[u32]      │
╞════════╪════════════════╡
│ 3      ┆ [0, 2, … 890]  │
│ 1      ┆ [1, 3, … 889]  │
│ 2      ┆ [9, 15, … 886] │
└────────┴────────────────┘

We look at `agg` in more detail int the coming lectures.

## Group values
We use `head` to get the first rows in each group.

In this example we return a `DataFrame` with the first 2 rows from each group

In [13]:
(
    df
    .groupby("Pclass")
    .head(2)
)

shape: (6, 12)
┌────────┬─────────────┬──────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ Pclass ┆ PassengerId ┆ Survived ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---    ┆ ---         ┆ ---      ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64    ┆ i64         ┆ i64      ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞════════╪═════════════╪══════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 3      ┆ 1           ┆ 0        ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│        ┆             ┆          ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 3      ┆ 3           ┆ 1        ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│        ┆             ┆          ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 2      ┆ 10          ┆ 1        ┆ Nasser, Mrs.      ┆ … ┆ 237736    ┆ 30.0708 ┆ null  ┆ C        │
│        ┆             ┆          ┆ Nicholas (Adele   ┆   ┆           ┆         ┆       ┆          │
│        ┆             ┆          ┆ Ach…              ┆   ┆           ┆         ┆       ┆          │
│ 2      ┆ 16          ┆ 1        ┆ Hewlett, Mrs.     ┆ … ┆ 248706    ┆ 16.0    ┆ null  ┆ S        │
│        ┆             ┆          ┆ (Mary D Kingcome) ┆   ┆           ┆         ┆       ┆          │
│ 1      ┆ 2           ┆ 1        ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│        ┆             ┆          ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│        ┆             ┆          ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 1      ┆ 4           ┆ 1        ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│        ┆             ┆          ┆ Jacques Heath     ┆   ┆           ┆         ┆       ┆          │
│        ┆             ┆          ┆ (Li…              ┆   ┆           ┆         ┆       ┆          │
└────────┴─────────────┴──────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Aggregations
In eager mode we can call aggregations directly on the `GroupBy`

In this example, we count the number of rows per group and we get a single column of counts

In [14]:
(
    df
    .groupby("Pclass")
    .count()
)

shape: (3, 2)
┌────────┬───────┐
│ Pclass ┆ count │
│ ---    ┆ ---   │
│ i64    ┆ u32   │
╞════════╪═══════╡
│ 3      ┆ 491   │
│ 2      ┆ 184   │
│ 1      ┆ 216   │
└────────┴───────┘

We can also calculate aggregations on all columns

In [15]:
(
    df
    .groupby("Pclass")
    .mean()
)

shape: (3, 12)
┌────────┬─────────────┬──────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ Pclass ┆ PassengerId ┆ Survived ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---    ┆ ---         ┆ ---      ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ i64    ┆ f64         ┆ f64      ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞════════╪═════════════╪══════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 1      ┆ 461.597222  ┆ 0.62963  ┆ null ┆ … ┆ null   ┆ 84.154687 ┆ null  ┆ null     │
│ 3      ┆ 439.154786  ┆ 0.242363 ┆ null ┆ … ┆ null   ┆ 13.67555  ┆ null  ┆ null     │
│ 2      ┆ 445.956522  ┆ 0.472826 ┆ null ┆ … ┆ null   ┆ 20.662183 ┆ null  ┆ null     │
└────────┴─────────────┴──────────┴──────┴───┴────────┴───────────┴───────┴──────────┘

We use the `agg` method for more flexibility in the next lecture. 

The methods we can all on `GroupBy` in eager mode are:
 - `first` get the first element of each group
 - `last` get the last element of each group
 - `n_unique` get the number of unique elements in each group
 - `count` get the number of elements in each group
 - `sum` sum the elements in each group
 - `min` get the smallest element in each group
 - `max` get the largest element in each group
 - `mean` get the average of elements in each group
 - `median` get the median in each group
 - `quantile` calculate quantiles in each group

## Groupby on multiple columns

We can do `groupby` on multiple columns by passing a list of column names

In [16]:
(
    df
    .groupby(["Pclass","Survived"])
    .mean()
)

shape: (6, 12)
┌────────┬──────────┬─────────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ Pclass ┆ Survived ┆ PassengerId ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---    ┆ ---      ┆ ---         ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ i64    ┆ i64      ┆ f64         ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞════════╪══════════╪═════════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 3      ┆ 1        ┆ 394.058824  ┆ null ┆ … ┆ null   ┆ 13.694887 ┆ null  ┆ null     │
│ 2      ┆ 1        ┆ 439.08046   ┆ null ┆ … ┆ null   ┆ 22.0557   ┆ null  ┆ null     │
│ 1      ┆ 0        ┆ 410.3       ┆ null ┆ … ┆ null   ┆ 64.684008 ┆ null  ┆ null     │
│ 1      ┆ 1        ┆ 491.772059  ┆ null ┆ … ┆ null   ┆ 95.608029 ┆ null  ┆ null     │
│ 2      ┆ 0        ┆ 452.123711  ┆ null ┆ … ┆ null   ┆ 19.412328 ┆ null  ┆ null     │
│ 3      ┆ 0        ┆ 453.580645  ┆ null ┆ … ┆ null   ┆ 13.669364 ┆ null  ┆ null     │
└────────┴──────────┴─────────────┴──────┴───┴────────┴───────────┴───────┴──────────┘

In the following lecture we see how we can also pass expressions to `groupby`

## Groupby on a sorted column
In the lecture "Sorting and Fast-track algorithms" in the Selecting columns and transforming dataframes section we saw how Polars can use fast-track algorithms on sorted columns - if it knows the column is sorted.

A fast-track algorithm can also be used if the groupby column is sorted. See Exercise 3 for an example of this (make sure you have done the Sorting and Fast-track algorithms lecture first).

## Exercises
In the exercises you will develop your understanding of:
- creating a `GroupBy` object
- accessing data from the groups
- aggregating each group
- the effect of the fast-track algorithm on a sorted column

### Exercises 1
Create a `GroupBy` object by grouping on the `Survived` column

In [17]:
(
    pl.read_csv(csvFile)
    <blank>
)

SyntaxError: invalid syntax (172812692.py, line 4)

Create a `DataFrame` showing the row indexes for each group

Create a `DataFrame` with the *last* three rows from each group. Ensure the order of the `DataFrame` is the same each time you run the code.

Get the maximum value for each column in each group

### Exercise 2
Create a `GroupBy` object by grouping on the `Survived` and `Pclass` columns.

Call this object `survivedClassDf`

In [ ]:
survivedClassDf = (
    pl.read_csv(csvFile)
    <blank>
)

Loop over the groups and print the `mean` of each group (the output of `print` will be an ASCII representation)

### Exercise 3
We look at the effect of sorting and the fast-track algorithm on a `groupby` operation.

We create a `DataFrame` with an `id` column of integers and a `values` column

- The `N` variable sets the number of rows in the `DataFrame`
- The `cardinality` sets the number of distinct group keys in the `id` column

We begin with a low cardinality and see the effect of increasing the cardinality later in the exercise.

We pre-sort the `id`s before creating the `DataFrame`

In [ ]:
pl.Config.set_tbl_rows(4)
import numpy as np
np.random.seed(0)
N = 10_000_000
cardinality = 10
# Create a sorted array of id integers
sortedArray = np.sort(np.random.randint(0,cardinality,N))
df = (
    pl.DataFrame(
        {
            "id":[i for i in sortedArray],
            "values":np.random.standard_normal(N)
        }
    )
)
df.head(3)

Time how long it takes to groupby the `id` column and take the mean of the `values` column without any fast-track algorithm

In [ ]:
%%timeit -n1 -r3
(
    df
    <blank>
)

Create a new `DataFrame` called `dfSorted` where we tell Polars the `id` column is sorted

In [ ]:
dfSorted = (
    df
    <blank>
)
dfSorted["id"].flags

Time how long it takes to groupby the `id` column and take the mean of the `values` column **with** a fast-track algorithm

In [ ]:
%%timeit -n1 -r3
(
    dfSorted
    <blank>
)

Compare the difference between the sorted and non-sorted algorithms when the cardinality of `id` is higher. Try:
- `cardinality = 1_000` and 
- `cardinality = 1_000_000`

## Solutions

### Solutions to Exercise 1
Create a `GroupBy` object by grouping on the `Survived` column

In [ ]:
(
    pl.read_csv(csvFile)
    .groupby("Survived")
)

Create a `DataFrame` showing the row indexes for each group

In [ ]:
(
    pl.read_csv(csvFile)
    .groupby("Survived")
    .agg(
        pl.col("PassengerId").agg_groups()
    )
)

Create a `DataFrame` with the *last* three rows from each group. Ensure the order of the `DataFrame` is the same each time you run the code.

In [ ]:
(
    pl.read_csv(csvFile)
    .groupby("Survived",maintain_order=True)
    .tail(3)
)

Get the maximum value for each column in each group

In [ ]:
(
    pl.read_csv(csvFile)
    .groupby("Survived",maintain_order=True)
    .max()
)

### Solutions to Exercise 2
Create a `GroupBy` object by grouping on the `Survived` and `Pclass` columns.

Call this object `survivedClassDf`

In [ ]:
survivedClassDf = (
    pl.read_csv(csvFile)
    .groupby(["Survived","Pclass"])
)

Loop over the groups and print the `mean` of each group (the output of `print` will be an ASCII representation)

In [ ]:
survivedClassDf = (
    pl.read_csv(csvFile)
    .groupby(["Survived","Pclass"])
)
for groupKey,groupDf in survivedClassDf:
    print(groupDf.mean())

### Solution to exercise 3
We look at the effect of sorting on a `groupby` operation.

We create a `DataFrame` with an `id` column of integers and a `values` column

- The `N` variable sets the number of rows in the `DataFrame`
- The `cardinality` sets the number of distinct `id`s

We pre-sort the `id`s before creating the `DataFrame`

In [ ]:
pl.Config.set_tbl_rows(4)
import numpy as np
np.random.seed(0)
N = 10_000_000
cardinality = 1_000_000
# Create a sorted array of id integers
sortedArray = np.sort(np.random.randint(0,cardinality,N))
df = (
    pl.DataFrame(
        {
            "id":[i for i in sortedArray],
            "values":np.random.standard_normal(N)
        }
    )
)
df.head(3)

Time how long it takes to groupby the `id` column and take the mean of the `values` column without any fast-track algorithm

In [ ]:
%%timeit -n1 -r3
(
    df
    .groupby("id")
    .agg(
        pl.col("values").mean()
    )
)

Create a new `DataFrame` called `dfSorted` where we tell Polars the `id` column is sorted

In [ ]:
dfSorted = (
    df
    .with_columns(
        pl.col("id").set_sorted()
    )
)
dfSorted["id"].flags

Time how long it takes to groupby the `id` column and take the mean of the `values` column **with** a fast-track algorithm

In [ ]:
%%timeit -n1 -r3
(
    dfSorted
    .groupby("id")
    .agg(
        pl.col("values").mean()
    )
)

Compare the difference in timings between the standard and fast-track algorithm when the cardinality of `id` is higher


The difference is much smaller (and possibly negative) when the cardinality of `id` is high